@import 'variables.scss';

.container{
  width: 100vw;
  height: 100vh;

  color: $primaryFont;
  background-color: $primary;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 10vh;
}

.header{
  height: 40vh;
  margin-left: 50%;
  padding-top: 10vh;

  h3{
    font-size: 4rem;
    margin: 0;
  }
}

.main{
  display: flex;
  flex-direction: row;
}

.nav{
  width: 30%;
  margin-top: 6rem;
}