@import '../../styles/variables.scss';

.container{
    background: $primaryDark;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 1rem;

    form{
        margin-left: 50%;
        width: 50%;
        position: relative;
    }

    z-index: 100;
    border-radius: 2%;
    
}

.label{
    font-size: 2rem;
    margin: 1rem 0;
}

.input{
    background-color: $primary;
    border: none;
    color: $primaryFont;
}

.desc{
    width: 75%;
    height: 10rem;
    margin-bottom: 1rem;
}

.button{
    background-color: orange;
    width: 100px;
    height: 40px;
    color: white;

    &:hover{
        color: orange;
        background-color: white;
    }
}